#maincart {
    padding: 30px;
    margin: 0px 0px 30px 10px;
    border-radius: 20px;
}
#rowinfonamecart {
    margin: 5px 0px;
    padding-right: 20px;
}
#infonamecart {
    font-weight: 800;
    font-size: 11px;
    padding-left: 25px;
}
#cartlist {
    display: flex;
    align-items: center;
    padding: 12px 25px 12px 0px;
    transition: 0.9s all;
    border-radius: 20px;
}
#cartlist:hover {
    background-color: rgb(221, 221, 221);
}
#cartimgproduct img {
    width: 100%;
    /* height: 200px; */
    object-fit: cover;
    border-radius: 20px;
}
#cartnameproduct a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 14px;
}
#cartpriceproduct,
#cartsizeproduct,
#cartlastpriceproduct,
#cartdeleteproduct {
    font-weight: 800;
    font-size: 14px;
}
#cartlastpriceproduct {
    color: rgb(163, 30, 30);
}
#cartdeleteproduct {
    font-size: 30px;
    transition: 0.3s all;
    width: 45px;
    margin-left: 0px;
    border-radius: 50%;
}
#cartdeleteproduct:hover {
    color: white;
    background-color: red;
}
#cartpanel {
    height: fit-content;
}
#titlecart {
    font-size: 30px;
    font-weight: 800;
    margin-left: 40px;
    margin-top: 50px;
    color: rgb(66, 66, 66);
    text-shadow: 0px 0px 20px rgb(137, 137, 137);
}
#titlecartss {
    font-size: 30px;
    font-weight: 800;
    margin-left: 40px;
    margin-top: 30px;
    color: rgb(66, 66, 66);
    text-shadow: 0px 0px 20px rgb(137, 137, 137);
}
#titlecart i #titlecartss i {
    margin-right: 10px;
}
#infomationpay {
    margin: 20px 50px 50px 50px;
}
#infopay {
    margin: 5px 0px;
}
#infopay label {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 5px;
}
#paytitle {
    border-bottom: 4px dashed black;
    height: 40px;
    font-style: italic;
    font-weight: 700;
    color: gray;
}
#paytitless {
    border-bottom: 4px dashed black;
    height: 40px;
    font-style: italic;
    font-weight: 700;
    color: gray;
    margin-bottom: 30px;
}
#panelcart {
    width: 100%;
    height: 250px;
    margin: 5px 0px;
    border-radius: 5px;
}
#payenddd {
    padding: 30px;
    height: fit-content;
    border-radius: 20px;
    background-color: rgba(241, 241, 241, 0.023);
}
#payimg img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
#payname {
    font-size: 15px;
    font-weight: 700;
}
#paypriceend {
    font-size: 15px;
    font-weight: 700;
    color: rgb(163, 30, 30);
}
#paytotal {
    margin: 10px 0px 30px 0px;
    font-size: 20px;
    font-weight: 800;
    color: rgb(163, 30, 30);
}
#anhnenkh {
    width: 100%;
    margin-top: 30px;
    height: 400px;
    object-fit: cover;
}

#infoname a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s all;
}
#infoname a:hover {
    color: rgb(163, 30, 30);
}
#infosize {
    font-size: 14px;
    font-weight: 600;
}
#infoprice {
    padding-left: 17px;
    font-weight: 800;
    font-size: 14px;
}
#cartquantity {
    padding-left: 30px;
}
#infototal {
    padding-left: 0px;
    font-weight: 800;
    font-size: 14px;
    color: rgb(199, 0, 0);
}
.quantity {
    position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#quantitycarttt {
    width: 50px;
    height: 38px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 15px 0px 0px 15px;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 38px;
    margin-left: 20px;
}

#quantity-button {
    position: relative;
    cursor: pointer;
    border: 1px solid black;
    border-left: none;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    /* border-bottom: 1px solid #eee; */
}
.quantity-up:hover,
.quantity-down:hover {
    background-color: white;
    /* color: white; */
}

.quantity-down {
    position: absolute;
    /* bottom: -1px; */
    height: 50%;
}
#deletecart {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgb(199, 0, 0);
    color: white;
    transition: 0.5s all;
}
#deletecart:hover {
    background-color: red;
}
#total {
    font-size: 25px;
    font-weight: 900;
    color: rgb(199, 0, 0);
}
#total p {
    margin-top: 4px;
}
#totalpay button {
    width: 160px;
    height: 40px;
    border: none;
    background-color: rgb(163, 30, 30);
    color: white;
    font-size: 20px;
    transition: 0.1s all;
    border-radius: 5px;
}
#totalpay button:hover {
    font-weight: 800;
}
